.headerContainer {
  width: 100%;
  height: 7%;
  background-color: #8e83ed;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 200%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
}
